<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{#unless post}}{{#if message}}{{message}} - {{@blog.title}}{{/if}}{{meta_title}}{{else}}{{meta_title}} - {{@blog.title}}{{/unless}}</title>

  {{> meta}}

  <link rel="stylesheet" type="text/css" href="{{asset "css/uno.css"}}" />

  {{ghost_head}}

</head>
<body class="{{body_class}}">

  <section id="menu-button" class="expanded">
    <a><i class="icon icon-list"></i></a>
  </section>

  {{> aside}}

  <article class="main">
    <section id="search-results"></section>
    <section class="content">
      {{{body}}}
      {{> footer}}
    </section>
  </article>

  {{ghost_foot}}
  <script type="text/javascript" src="{{asset "js/uno.js"}}"></script>
  {{> google-analytics}}
</body>
</html>
