{{!< default}}

<h2 class="fun-line" style="text-align: center;">Writtings.</h2>
<ol id="posts-list">
  {{#foreach posts}}
  <li>
    <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
    <a href="{{url}}" title="link to {{{title}}}">{{title}}</a>
    <span class="post tags">{{tags separator=" "}}</span>
  </li>
  {{/foreach}}
</ol>
{{pagination}}


{{!-- <a href="{{url}}" title="link to {{{title}}}">
      <h2>{{{title}}}</h2>
      <p class="post description">{{excerpt}}&hellip;</p>
    </a>
    <div class="post meta">
      <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
      <span class="post tags">{{tags prefix="on " separator=" "}}</span>
    </div>
    <hr class="divider post" /> --}}
