{{!< default}}
<ol class="posts">
  {{#foreach posts}}
  <li>
    <h2>
      <a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a>
    </h2>
    <p>{{excerpt}}&hellip;</p>
    <div class="post meta">
      <time datetime="{{date format="DD MMM YYYY"}}" class="post date">{{date format="DD MMM YYYY"}}
      </time>
      <span class="post tags">
      {{tags prefix="on " separator=" "}}
      </span>
    </div>
    <hr class="divider post" />
  </li>
  {{/foreach}}
</ol>
{{pagination}}
