{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <a id="back-button" class="btn small square" href="javascript:history.back()">« Back</a>
      <div class="post meta">
        <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
        <span class="post tags">{{tags prefix="in " separator=" "}}</span>
        {{!-- <span class="post author">
          <img src="{{author.image}}" alt="profile image for {{author.name}}"/> by {{author.name}}
        </span> --}}
        <span class="post reading-time"> – <span></span> read.</span>
      </div>

      <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}};text={{title}} » " alt="Tweet '{{title}}'" target="_blank">
        {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
        <h1 class="icon-reverse icon-social-twitter-post" id="post-title">{{{title}}}.</h1>
      </a>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{> comments}}

{{/post}}
